.ym-post__content--custom {
  a {
    color: #337ab7;
  }
  h6 {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }
  h4 {
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
  }
  h2 {
    font-size: 24px;
  }
  h1 {
    font-size: 26px;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    margin: 20px 0 10px 0;
  }
  p {
    margin: 0 0 15px 0;
  }
  img {
    border: 0.3em solid #e0dfcc;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
  }
}

.navbar-brand {
  letter-spacing: 3px;
}

.page-heading h1 {
  letter-spacing: 10px;
  font-weight: 800;
}